/* 

color pallete to use (in hex)

https://coolors.co/palette/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf
Pastel color palette

*/

h1{
  margin: 0px;
}

p{
  margin: 0px;
}

hr{
  margin-bottom: 0px;
}

#mainPage{
  display:flex;
  height: 100%;
  flex-direction: column;
  /* text-align: center; */
  background-color: #EDEDE9;
}

body > #root > div {
  height: 100vh;
}

hr.solid-divider{
  border-top: 5px solid black;
  width: 95%;
  border-radius: 5px;
  margin: auto;
}

#main-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  margin: 15px;
  column-gap: 10px;
}

div.column{
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
}

#main-row div.column{
  flex: 1 1 auto;
}

#study-sessions{
  background-color: #E3D5CA;
  border-radius: 10px;
  padding: 10px;
}

.study-session{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F5EBE0;
  margin:5px;
  padding: 20px;
}

#study-button{
  background-color: #D5BDAF;
  padding: 25px;
  border-radius: 10px;
}